.nav {
  width: 100%;
  background: linear-gradient(90deg, #1f1f1f, #333);
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

 .nav-link:hover {
  color: #4caf50;
}
/* خط زیر اسم  */
 .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #4caf50;
  transition: 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

 @media (max-width: 600px) {
  .nav-container {
    gap: 20px;
  }

  .nav-link {
    font-size: 16px;
  }
}